*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--corSecundaria);
}

:root {
    --corPrincipal: rgb(245, 210, 56);
    --corSecundaria: rgb(28, 29, 31);
}

input{
    margin: 8px 0;
    padding:8px 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    text-align: end;
    max-width: 70px;
}
body{
    background-color:var(--corSecundaria);
    max-height: 1080px;
    height: 100%;
}
p{
    margin-top: 8px;
}
form {
    display: flex;
    gap: 32px;
}